################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/DirectX 初ゲーム/DirectX 初ゲーム.VC.VC.opendb
/DirectX 初ゲーム/DirectX 初ゲーム.VC.db
/DirectX 初ゲーム/.vs/DirectX 初ゲーム/v14
/DirectX 初ゲーム/Debug
/DirectX 初ゲーム/Release
/DirectX 初ゲーム/DirectX 初ゲーム.exe
